.filter-cart-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 18px;
  border-bottom: 1px solid silver;
}
.cart {
  text-align: center;
  padding: 1rem 0;
  font-size: 18px;
  border-bottom: 1px solid silver;
}
