.card-title {
  margin-top: 0.5rem;
  text-align: center;
}
.price-add-to-cart-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.card-img {
  max-width: 300px;
}
